[submodule "PhysX"]
	path = PhysX
	url = https://github.com/DDJV-INF740/PhysX-bin.git
[submodule "GameEngine"]
	path = GameEngine
	url = https://github.com/DDJV-INF740/GameEngine-src.git
[submodule "config/msvc"]
	path = config/msvc
	url = https://github.com/DDJV-INF740/config-msvc.git
[submodule "DirectX"]
	path = DirectX
	url = https://github.com/DDJV-INF740/DirectX-bin.git
[submodule "Defenders"]
	path = Defenders
	url = https://github.com/DDJV-INF740/Defenders.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/Microsoft/GSL.git
